
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
  }
  
  .login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(67, 37, 37, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%; 
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column; 
    align-items: center;

  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #a170c9;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  